<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Messages by <b>{{name}}</b>:
<form action="/logout" method="post" style="display: inline-block">
    <button type="submit">Logout</button>
</form>
<br>
<form action="/add-message" method="post">
    <input type="text" name="text" placeholder="Enter your message"/>
    <button type="submit">Submit</button>
</form>
{{/user}}
<br>
<ol>
    {{#messages}}
    <li>
    <form action="edit-message" method="post">
        <input type="hidden" name="id" value="{{id}}"/>
        <input type="text" name="text" placeholder="Edit message">
        <button type="submit">Edit</button>
    </form>
    <form action="/delete-message" method="post">
        {{text}}
        <input type="hidden" name="id" value="{{id}}"/>

        <button type="submit">Delete</button>
    </form>

    </li>
    {{/messages}}
</ol>

</body>
</html>